.app{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

	&__content {
		height: 90vh;
		display: flex;
		flex-direction: column;
		margin-right: 20vw;
		width: 60vw;
		font-size: calc(8px + 2vmin);

		&__header {
			display: flex;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			font-size: calc(10px + 2vmin);
			margin-bottom: 20px;
		}
		
		&__product {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 8px;

			&__carted {
				display: flex;
				align-items: center;
			}

			&__form {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 90%;

				input {
					width: 60%;
				}

				&__button_remove {
					background-color: #FF0011;
					border: none;
					border-radius: 3px;
					padding: 3px;
				}
			}
		}

		&__cell {
			width: 15vw;
		}

		&__footer {
			display: flex;
			justify-content: center;
			width: 80vw;
		}
	}
}

.create-order {
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #00df00;
	border: none;
	border-radius: 3px;
	font-size: 18px
}

.modal{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: gray;
	width: 400px;
	height: 500px;
	border-radius: 10px;

	&__header {
		color: white;
	}

	&__input{
		width: 300px;
		height: 20px;
		margin-top: 15px;
		border-radius: 10px;
	}

	.submit {
		margin-top: 50px;
	}
}

.additional {
	height: 200px;
	vertical-align: top;
	resize: none;
}
