.app{
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

	&__header {
		background-color: #282c34;
		display: flex;
		justify-content: center;
		width: 80vw;
		height: 6vh;
		margin-top: 4vh;
		margin-bottom: 50px;

		&__tabs {
			display: flex;
			width: 30vw;
			justify-content: space-between;
			font-size: calc(9px + 2vmin);
		}

		&__tab {
			margin-top: 10px;
		}

		.active {
			color: gray;
		}

		&__title {
			width: 30vw;
			text-align: center;
			font-size: calc(20px + 2vmin);
		}
	}

	&__content {
		height: 90vh;
		display: flex;
		flex-direction: column;
		width: 60vw;
		margin-right: 20vw;
		font-size: calc(8px + 2vmin);

		&__header {
			display: flex;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			font-size: calc(10px + 2vmin);
			margin-bottom: 20px;
		}
		
		&__product {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 8px;

			&__carted {
				display: flex;
				align-items: center;
			}

			&__form {
				display: flex;
				flex-direction: row;
				align-items: center;
				height: 90%;

				input {
					width: 60%;
				}

				&__button_add {
					background-color: #00df00;
					border: none;
					border-radius: 3px;
					padding: 3px;
				}

				&__button_remove {
					background-color: #FF0011;
					border: none;
					border-radius: 3px;
					padding: 3px;
				}
			}
		}

		&__cell {
			width: 20vw;
		}

		&__footer {
			display: flex;
			justify-content: center;
			width: 80vw;
		}
	}
}
